# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/*
!.vscode/settings.json
